@CHARSET "UTF-8";

/* *{border:1px solid red;} */

#content {
	border : 3px solid green;
	width: 70%;
	height: 100%;
	float: right;
}

	
		
.content_top_shj {
	padding-bottom: 12%;}	




/* listmenu */
#listmenu_shj {
	position: relative;
    float: right;
    display: inline-block;
    top: 19%;
    right: 2%;	   
    }

#listmenu_shj > ul,
#listmenu_shj > ul li,
#listmenu_shj > ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#listmenu_shj > ul {
  position: relative;
  z-index: 597;
}
#listmenu_shj > ul li {
  float: left;
  min-height: 1px;
  line-height: 1.3em;
  vertical-align: middle;
}
#listmenu_shj > ul li.hover,
#listmenu_shj > ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}

#listmenu_shj > ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
#listmenu_shj > ul ul li {
  float: none;
}
#listmenu_shj > ul ul ul {
  top: 1px;
  left: 99%;
}
#listmenu_shj > ul li:hover > ul {
  visibility: visible;
}
/* Align last drop down RTL */
#listmenu_shj > ul > li.active has-sub_shj ul ul {
  left: auto !important;
  right: 99%;
}
#listmenu_shj > ul > li.last_shj ul {
  left: auto;
  right: 0;
}
#listmenu_shj > ul > li.last_shj {
  text-align: right;
}
/* Theme Styles */
#listmenu_shj > ul {
  border-top: 4px solid #ffffff;
  font-family: Calibri, Tahoma, Arial, sans-serif;
  font-size: 14px;
   width: auto;
  zoom: 1;
}
#listmenu_shj > ul:before {
  content: '';
  display: block;
}
#listmenu_shj > ul:after {
  content: '';
  display: table;
  clear: both;
}
#listmenu_shj > ul li a {
  display: inline-block;
  padding: 10px 22px;
}


#listmenu_shj > ul > li.active,
#listmenu_shj > ul > li {

    border-bottom: 1px solid #ebebeb;
    border-right:1px solid #ebebeb;
    font-size: 12px;
    width: 100%;
}
#listmenu_shj > ul li:hover {
  background-color: #F5F5F5;
}
#listmenu_shj > ul > li > a:link,
#listmenu_shj > ul > li > a:active,
#listmenu_shj > ul > li > a:visited {
  color: #666s;
}
#listmenu_shj > ul > li > a:hover {
  color: #666;
}
#listmenu_shj > ul ul ul {
  top: 0;
}
#listmenu_shj > ul li li {
  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;
  font-size: 12px;
  width: 100%;
}
#listmenu_shj > ul li.hover,
#listmenu_shj > ul li:hover {
  background-color: #F5F5F5;
}
#listmenu_shj > ul > li.hover,
#listmenu_shj > ul > li:hover {
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
}
#listmenu_shj > ul a:link,
#listmenu_shj > ul a:visited {
  color: #666;
  text-decoration: none;
}
#listmenu_shj > ul a:hover {
  color: #666;
}
#listmenu_shj > ul a:active {
  color: #666;
}
#listmenu_shj > ul a {    width: 55%; text-align: center;}
#listmenu_shj > ul ul {
  border: 1px solid #CCC \9;
  -webkit-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.15);
      width: 108px;
}




/* imgbox */	
.mywish_shj {width:29%;
	border-radius:2px;
	height:25%;
	display: inline-block;
	margin:1% 1% 1% 2.5%;}	
.mywish_shj:HOVER {border: 2px solid #fc4401;
	border-radius:2px;
	width:29%;
	height:25%;
	display: inline-block;
	margin:1% 1% 1% 2.5%;
	transition-duration: 0.2s;}	
	
.mywish_shj div {/* border:1px solid red; */
	}
	
	
#imginfo_shj_shj {margin-top: 3%;}	
/* #imginfo_shj div {padding-left: 1%; } */
#imginfo_shj #info_1_shj { font-size: 25px;
    padding: 0 0 0 3%;}	
#imginfo_shj #info_2_shj,#info_3_shj {font-size: 15px; padding: 0 0 0 3%;}
#outerbox img {	border-radius:2px;
	width:100%;
	height:100%}	
	
	
	
	
.pageNum_shj * {}	
.pageNum_shj	{margin:5% 34%; width: inherit;}
	
.pageNum_shj>a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    color:#fff;
}

.pageNum_shj>a:hover {
    background-color: #555;
    
}
.pageNum_shj>a:ACTIVE{
	color: #fc4401;
}
.previous {
    background-color: #666;
    color: #fff;
}

.next {
    background-color: #666;
    color: #fff;
}

.round {
    border-radius: 50%;
}
.pageNum_shj>b a{margin:0 1%}
.pageNum_shj>b a:HOVER{ color: #555;}
.pageNum_shj>b a:ACTIVE{ color: #fc4401;}