@CHARSET "UTF-8";

.clear {clear:both;}



/* 테블릿,노트북 크기 768~1023px */
@media all and (min-width:768px){}



/* 모니터,대형스크린크기 1024~무한 */
@media all and (min-width:1024px) {
	
	h1 {
	color: #fc4401;
	margin-bottom: 70px;
}

#content {
	padding: 11px 55px;
	/* border: 1px solid red; */
	width: 70%;
	min-height: 500px;
	float: right;
}

#message_form {
	width: 66%;
	/* border: 1px solid orangered; */
	position: relative;
	margin-bottom: 30px;
	margin-left: 18px;
}

.sendarea {
	/* border:1px solid red;
	width: 60%;
	position: relative; */
}

.sendtextbox textarea {
	width: 98%;
	border: 0;
	overflow: visible;
	text-overflow: ellipsis;
	resize: vertical;
	display: block;
	min-height: 100px;
}

.memberimg_right {
	/* border:1px solid red; */
	min-width: 9%;
	float: right;
	padding: 0 8px;
}

.memberimg_left {
	/* border:1px solid red; */
	min-width: 9%;
	float: left;
	padding: 0 8px;
}

.member_check a {
	text-align: center;
}

.member_img {
	/* background-color: rgb(242, 242, 242) !important;
	box-shadow: rgb(235, 235, 235) 0px 0px 0px 2px !important; */
	display: inline-block !important;
	vertical-align: middle !important;
	width: 60px !important;
	height: 60px !important;
	border-radius: 50% !important;
	overflow: hidden !important;
}

.member_symbol {
	width: 60px !important;
	height: 60px !important;
}

.sendtextbox {
	border: 1px solid #666;
	width: 80%;
	border-radius: 10px;
	padding: 10px;
}

.messagesend {
	float: right;
	position: relative;
	top: -44px;
	right: 8px;
	width: 95px;
	height: 36px;
	background-color: #fc4401;
	color: white;
	border: 0;
	font-size: 1em;
	border-radius: 10px;
}

#wrap_chat {
	width: 66%;
	/* border: 1px solid orangered; */
	position: relative;
	margin-bottom: 30px;
	min-height: 300px;
	padding: 20px;
	border:1px solid #cccccc;
	border-radius: 10px;
}

/* 받은 메세지가 나타나는 위치와 디자인 */
#receive_m {
	padding: 5px; 
	/* border : 1px solid blue; */
	float: left;
	min-width: 150px;
	width:auto;
	min-height: 100px;
}

.receive_sendtextbox {
	float: right;
	border: 1px solid #cccccc;
	width: fit-content;
	border-radius: 10px;
	padding: 10px;
}

.group_float_right {
	float: right;
}

.group_float_left {
	float: left;
}

/* 보낸 메세지가 나타나는 위치와 디자인 */
#send_m {
	padding: 5px; 
	/* border : 1px solid pink; */
	float: right;
	min-width: 150px;
	min-height: 100px;
}

.message_member_id {
	/* border:1px solid pink; */
	width: fit-content;
	margin-bottom: 5px;
	line-height: 15px;
}
	
}
